.advantages__inner {
  padding-top: 90px;
  padding-bottom: 110px;
  background-color: var(--color-gray-01);
  border-radius: var(--border-radius);
}

.advantages__title {
  text-align: center;
  margin-bottom: 72px;
}

.advantages__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  row-gap: 48px;
}

@media (width <= 1230px) {
  .advantages__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (width <= 880px) {
  .advantages__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width <= 480px) {
  .advantages__list {
    grid-template-columns: 1fr;
  }
}