.header {
  padding-block: 25px;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__overlay {
  display: contents;
}

.header__burger-menu {
  display: none;
}