.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--color-dark);
  padding-block: 25px;
  z-index: 10;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__overlay {
  display: contents;
}

.header__burger-menu {
  display: none;
}

@media (width <= 1024px) {
  .header__overlay {
    position: fixed;
    top: 99px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    translate: 0 -130%;
    padding-top: 40px;
    padding-bottom: 60px;
    background-color: var(--color-gray-01);
    z-index: 100;
    opacity: 0;
    transition-duration: var(--transition-duration);
  }

  .header__overlay.is-active {
    opacity: 1;
    translate: 0 0;
  }

  .header__button-link {
    margin: auto;
  }

  .header__burger-menu {
    display: inline-flex;
  }
}