.hero {
  padding-bottom: 20px;
}

.hero__card {
  position: relative;
  max-width: 1820px;
  height: 700px;
  background: linear-gradient(95deg, rgba(4, 5, 17, 0.72) 1.89%, rgba(88, 88, 88, 0.00) 65.32%), url("../../assets/images/hero/1.jpg") lightgray -9.324px -7.906px / 145.466% 159.558% no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: var(--border-radius);
}

.hero__card-inner {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 100%;
}

.hero__card-body {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.hero__card-title {
  max-width: 462px;
}

.hero__card-description {
  max-width: 345px;
  font-weight: 300;
  margin-bottom: 38px;
}

.hero__card-button {
  margin-right: auto;
}