.menu__list {
  display: flex;
  align-items: center;
  column-gap: 48px;
}

.menu__link {
  font-size: 16px;
  line-height: 1.46;

  &:hover {
    color: var(--color-accent);
  }
}

@media (width <= 1024px) {
  .menu {
    margin-bottom: 34px;
  }

  .menu__list {
    flex-direction: column;
  }

  .menu__link {
    font-size: 24px;
    line-height: 2.22;
  }
}