body {
  color: var(--color-white);
  background-color: var(--color-dark);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 1.26;
  /* overflow: hidden; */
}

a,
button,
input,
label,
textarea,
svg * {
  transition-duration: var(--transition-duration);
  cursor: pointer;
}

a,
button {
  &:active {
    scale: 1.07;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.container--big {
  max-width: calc(var(--container-width-big) + var(--container-padding-big-x) * 2);
  padding-inline: var(--container-padding-big-x);
}

:focus-visible {
  outline: 2px dashed var(--color-white);
  outline-offset: 4px;
  transition-duration: 0s !important;
}

@media (width <= 1024px) {
  .container--big {
    padding-inline: 0;
  }
}